<div class="row">
  <h1>コピー</h1>
</div>
<div class="row">
  <ul class="grid">
    <% @companies.each do |company| %>
    <li class="box">
    <%= company.name %>
    </li>
    <% end %>
  </ul>

  </div>
</div>