<div class="row clearfix">
  <h1>コピー</h1>
</div>
<div class="row clearfix">
  <ul class="grid">
    <% @companies.each do |company| %>
      <li class="box">
        <figure class="inner_grid">
        <%= company.name %>
        </figure>
      </li>
    <% end %>
  </ul>

  </div>
</div>