<div class="row clearfix">
  <h1>コピー</h1>
</div>
<div class="row clearfix">
  <ul class="grid">
    <% @companies.each do |company| %>
      <li class="box">
        <figure class="inner_grid clearfix">
          <h3 class="small_subject"><%= company.name %></h3>
          <h3 class="big_subject"><%= company.catch_copy %></h3>
          <%= company.location %>
          <%= link_to "詳細"," /companies/#{company.id}", class: :square %>
        </figure>
      </li>
    <% end %>
  </ul>

  </div>
</div>