/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*リセット*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:16px;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}


/*レイアウト*/
body {
  padding:0px;
  background-color: #f2f2f2;
  color: #333333;
  line-height: 1.5;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {color: #f01616;}

.big_subject {color: #333333;
font-size: 2.0em;
font-style: oblique;
margin: 12px 0;}

.small_subject {font-size: 0.8em;}


.row {
  padding:15px 15px;
  margin: auto;}

/*ボタン*/
figure.square {
  color: #27282e;
  display:inline;
  float:right;
  padding: 12px;
  border: solid 1px #333333;
}

a:hover figure{
  border: solid 1px #f01616;
  background-color:#ffffff;
}

/*ヘッダーエリア*/
.header_menu_right {
  float: right;
  line-height: 18px;
  margin-top :24px;
  margin-left:8px;
  font-weight :bold;
  padding: 0px;
  vertical-align: baseline;
}

.header_menu_left {
  float: left;
  line-height:32px;
}

header div.container {
  padding:15px;
  background-color: #ffffff;
}

.site_title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #f01616;
  padding:4px;
  border: solid 1px #f01616;

}

/*クリアフィックス*/
.clearfix:after  {
  content:".";
  display:block;
  height:0;
  font-size:0;
  clear:both;
  visibility:hidden;
}


