

.grid li {
    display: block;
    float: left;
    padding: 7px;
    width: 32%;
    color: #000;
    margin-bottom: 30px;
}

.inner_grid {
  margin: 0;padding: 12px;

  display: block;
  width: 100%;
  border-bottom: solid 3px #60cdb8;
  box-sizing: border-box;
}






