

.grid li {
    display: block;
    float: left;
    padding: 7px;
    width: 32%;
    color: #000;
    margin-bottom: 30px;
}

.inner_grid {
  margin: 0;
  display: block;
  width: 100%;
  background-color: #60cdb8;
  box-sizing: border-box;
}






