  .introduction {
    padding:15px 15px;
    margin: auto;
    padding: 40px;
    color:#ffffff;
    background-color:#177abf;
    text-align:center;
    background-image: url(-shared-img-thumb-TSU853_kinmirani_TP_V3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

  .introduction p.copy {
  font-size: 32px;
  margin-bottom:12px;
  font-style: oblique;
  }

.grid li {
    display: block;
    float: left;
    padding: 7px 0.66%;
    width: 32%;
    color: #333333;
    margin-bottom: 30px;
}

.inner_grid {
  margin: 0;padding: 12px 0;
  display: block;
  border-bottom: solid 3px #cccccc;
  box-sizing: border-box;
}

.box a:hover {color:#333333;}

.box a img {
  width: 100%;
  box-sizing: border-box;
  border: solid 12px #cccccc;
  margin-bottom :12px;
}
.box a:hover img {opacity:0.7;}





