<!DOCTYPE html>
<html>
<head>
  <title>Jobmart3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="header">
  <div class="container">
    JOB MART<br>
    WORKS SEARCH LOGIN SIGNUP
  </div>
</header>
<%= yield %>

</body>
</html>
